.todo-wrapper{
    margin-top: 3em;
}
.todoitem-wrapper{
    display: flex;
    width: 100%;
}
.item-wrapper{
    width: 75%;
    padding: .5em;
    overflow-wrap: break-word;
    margin-bottom: 1em;
    color: #000000;
}
.button-wrapper{
    width: 25%;
    display: flex;
}
